$include /etc/inputrc

set colored-stats on
set completion-ignore-case on
set completion-map-case on
set echo-control-characters off
set mark-symlinked-directories on
set show-all-if-ambiguous on
set show-all-if-unmodified on

"\e[A":history-search-backward
"\e[B":history-search-forward
"\e[1;5C": forward-word #option-left
"\e[1;5D": backward-word #option-right
"\ex": 'cd !$ \C-m\C-m ls\C-m' #option-x jump to the target of the last command
"\ez": 'cd -\C-m'  #option-z undo a dir change back

