[submodule "liquidprompt"]
	path = liquidprompt
	url = https://github.com/sejgit/liquidprompt
[submodule "todo.txt-cli"]
	path = todo.txt-cli
	url = https://github.com/sejgit/todo.txt-cli
[submodule "github-keygen"]
	path = github-keygen
	url = https://github.com/sejgit/github-keygen

