[submodule "liquidprompt"]
	path = liquidprompt
	url = https://github.com/sejgit/liquidprompt
[submodule "todo.txt-cli"]
	path = todo.txt-cli
	url = https://github.com/sejgit/todo.txt-cli
[submodule "github-keygen"]
	path = github-keygen
	url = https://github.com/sejgit/github-keygen

[submodule "git-extras"]
	path = git-extras
	url = https://github.com/tj/git-extras
[submodule "letsencrypt"]
	path = letsencrypt
	url = https://github.com/letsencrypt/letsencrypt
[submodule "rpi-clone"]
	path = rpi-clone
	url = https://github.com/billw2/rpi-clone
[submodule "RPi_Cam_Web_Interface"]
	path = RPi_Cam_Web_Interface
	url = https://github.com/silvanmelchior/RPi_Cam_Web_Interface
[submodule "paul"]
	path = paul
	url = https://github.com/methanol/paul
[submodule "drive"]
	path = drive
	url = https://github.com/odeke-em/drive
