[user]
	name = sejgit
	email = sejgit@github.com
[core]
	editor = emacs
	excludesfile = ~/.config/git/.gitignore_global

[url "https://github.com/"]
     insteadOf = git:

[url "https://gist.github.com/"]
     insteadOf = gist:

[url "https://bitbucket.org/"]
     insteadOf = bb:

[color]
	ui = true

[color "branch"]
       current = yellow reverse
       local = yellow
       remote = green

[color "diff"]
       meta = yellow bold
       frag = magenta bold
       old = red bold
       new = green bold

[color "status"]
       added = yellow
       changed = green
       untracked = red

[push]
	default = matching

[alias]
    aliases = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\:\\ /
    amend = commit --amend --no-edit
    amend-message = commit --amend
    back = checkout "-"
    bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
    bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"
    boop = "!f() { B=$(git rev-parse --abbrev-ref HEAD); git commit --allow-empty -m 'Boop!'; git push origin $B; }; f"
    branches = branch
    branchout = checkout -b
    cm = !git add -A && git commit -m
    co = checkout
    cob = checkout -b
    contributors = shortlog -s -n --no-merges
    copy-last-hash = !git last | pbcopy
    delete-branch = branch -D
    discard = checkout --
    ec = config --global -e
    file-trail = log --follow -p -w
    graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %ar) %Cred%d' --date-order
    history = log -10 --format=format:'%Cgreen%h %Creset%s (%aN, %ar)'
    invert = revert
    last = log -1 HEAD --format=format:"%Cred%H"
    merge-trail = log --ancestry-path --merges
    move = mv
    nevermind = !git reset --hard HEAD && git clean -d -f
    new-branch = checkout -b
    patch = add --patch
    precommit = diff --cached
    prestage = diff
    recent-branches = branch -a --sort=committerdate
    remotes = remote -v
    remove = rm
    rename-branch = branch -m
    resave = commit --amend
    rewrite = rebase -i
    save = !git add -A && git commit -m 'SAVEPOINT'
    stashes = stash list
    summary = status -u -s
    tags = tag
    track = "!f() { B=$(git rev-parse --abbrev-ref HEAD); git branch --set-upstream-to=origin/$B; }; f"
    tuck = stash save
    uncommit = reset --mixed HEAD~
    undo = reset HEAD~1 --mixed
    unmerged = diff --name-only --diff-filter=U
    unstage = reset -q HEAD --
    unstash = stash pop
    untrack = rm -r --cached
    untuck = stash pop "stash@{0}"
    up = !git pull --rebase --prune $@ && git submodule update --init --recursive
    what = show
    wip = !git add -u && git commit -m "WIP"
    wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard

[credential]
	helper = store --file ~/.ssh/.gitcred

[github]
	user = sejgit
	oauth-token = e436d97981c9c2f27f49b7e629bf30056cddf34d
[merge]
	conflictstyle = diff3
[advice]
	statusHints = false
[diff]
	compactionHeuristic = true
	indentHeuristic = true
	algorithm = patience
[interactive]
  diffFilter = diff-highlight
[pager]
  diff = diff-highlight | less
  log = diff-highlight | less
  show = diff-highlight | less
[blame]
  date = relative
[http]
[https]
